.come-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $main-color no-repeat 100% 60% url("../img/bcg/come-on-bcg.webp");
  background-size: cover;

  .btn {
    border: 1px solid $basic-white;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $main-color no-repeat 100% url("../img/bcg/come-on-bcg-mob.png");
    background-size: cover;
  }
}

.come-on__heading {
  max-width: 240px;
  font-size: 48px;
  line-height: 1;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    max-width: unset;
    font-size: 36px;
  }
}

.come-on__about {
  max-width: 490px;
  margin-bottom: 30px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    margin-bottom: 230px;
    padding-right: 30px;
  }
}

.come-on__img {
  object-fit: cover;
  border-radius: 20px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 155px;
    left: 15px;
    width: calc(100% - 30px);
    height: 190px;
  }
}
