.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 240px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;
  }

  a {
    color: $basic-white;
    font-size: 12px;
    font-weight: 400;
  }
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $input-color;
  border-radius: 10px;
  border: none;
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #831B1B;
  border-color: #831B1B !important;
}

label.error {
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error,
#phone2-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.form__checkbox-label {
  display: flex;
  align-items: start;
  gap: 8px;
}

#checkbox {
  accent-color: $main-color;
}
