.page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.page-header__logo {
  font-family: "Ida", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
