.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 96px;
  background: $basic-black;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}

.promo__video-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: column;
  }
}

.promo__heading {
  margin-bottom: 30px;
  padding-right: 165px;
  font-family: "Ida", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    padding-right: 0;
    font-size: 36px;
  }
}

.promo__about {
  max-width: 500px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 220px;
    font-size: 16px;
  }
}

.promo__video-bcg {
  box-sizing: border-box;
  min-width: 50%;
  max-height: 330px;
  border-radius: 20px;
  border-top: 1.5px solid $basic-white;
  border-right: 1.5px solid $basic-white;
  border-bottom: 1.5px solid $basic-white;
  box-shadow:
    6px -4px 15px 0px rgba(46, 46, 46, 0.1),
    23px -14px 27px 0px rgba(46, 46, 46, 0.09),
    52px -32px 37px 0px rgba(46, 46, 46, 0.05),
    93px -57px 44px 0px rgba(46, 46, 46, 0.01),
    146px -89px 48px 0px rgba(46, 46, 46, 0);

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 110px;
    width: 100%;
    border: unset;
    box-shadow: unset;
  }
}

.promo__video {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-left: -20px;
  margin-top: 20px;
  border-radius: 20px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  button {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 80px;
    height: 80px;
    background: $play-btn-color;
    border-radius: 50%;
    border: none;
    svg {
      margin-left: 8px;
      fill: $basic-white;
    }

    &:hover {
      svg {
        fill: $main-color;
      }
    }
  }
}
